/* Dataset Table */
.listStyle{
  align-items: flex-start;
}

.listItemStyle{
  padding: 5px;
}

.contentStyle{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

table, td, tr{
  border: 1px solid;
  border-collapse: collapse;
}

td,th{
  padding: 10px;
}

.inline {
  display : inline;
}

p.textStyle{
  border: 1px solid white;
}

/* Usefulness Button  */
.usefulnessStyle1{
  font-size: 16px;
  padding: 10px 35px;
  border-radius: 50%;
  background-color: white;
  color: #042c54;
  margin-top: 10px;
}

.usefulnessStyle1:hover {
  background-color: #042c54;
  color: white;
}

.usefulnessSpan{
  margin-left: 20px;
}

.usefulnessStyle2{
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 50%;
  background-color: white;
  color: #042c54;
}

.usefulnessStyle2:hover {
  background-color: #042c54;
  color: white;
}

/* Dataset Card */
.card {
  box-shadow: 0 4px 8px 0 rgba(85, 85, 85, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 60%;
  margin-left: 40px;
  margin-top: 20px;
  background-color: darkgray;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}